.menu-item {
  display: flex;
  justify-content: space;
  align-items: center;
  /* border-right: 3px solid #e71d60; */
  cursor: pointer;
  margin: 15% 0;
}
.menu-item span {
  margin-left: 5%;
  font-weight: 1000;
  color: #76879d;
}
.active-item {
  border-right: 3px solid #e71d60;
}
