.all-news-wrapper {
  width: 80%;
  margin: auto !important;
}
.box-news {
  height: 300px !important;
  margin-top: 100px !important;
  margin-bottom: 13%;
}
.load-more-button {
  background-color: #23498b;
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 20px;
  border-radius: 20px;
  border: none;
  outline: none;
}
@media (max-width: 798px) {
  .left-card {
    margin: 20px 0;
  }
}
